.image-button {
  position: absolute;

  button{
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }

  div {
    display: none;
  }

}

.background {
  position: absolute;
  top: 0;
}
