<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PopUp Office :)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PopUp Office</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="background">
    <img src="../../assets/background/background_1.webp" (click)="addImage($event)">
  </div>

  <div *ngFor="let button  of imgButtons" class="image-button" [style.top]="button.y" [style.left]="button.x">
    <button></button>
    <div>
      <h1>HOLA MUNDO Cruel</h1>
      <h2>HOLA MUNDO URL</h2>
    </div>
  </div>
</ion-content>
